version: 1
ldap_host: ldap.example.com
ldap_port: 389
ldap_starttls: true
ldap_skip_cert_verify: false
ldap_bind: cn=user,dc=example,dc=com
ldap_pass: verysecretpassword
ldap_base_users: ou=users,dc=example,dc=com
ldap_base_groups: ou=groups,dc=example,dc=com
ldap_base_netgrs: ou=netgroups,dc=example,dc=com
