version: 3
hostnames:
  - cool.host.name
  - cool
ldap_servers:
  - ldap1.example.com:389
  - ldap2.example.com:389
ldap_starttls: true
ldap_ignorecert: false
ldap_bind: cn=user,dc=example,dc=com
ldap_pass: verysecretpassword
ldap_base_users: ou=users,dc=example,dc=com
ldap_base_groups: ou=groups,dc=example,dc=com
ldap_base_netgrs: ou=netgroups,dc=example,dc=com
ldap_access_filter: "(&(objectClass=posixGroup)(cn=dev-*))" # optional
